<!DOCTYPE html>
<html ng-app="myApp" lang="zh-CN">
<head>
    <title>便捷书签</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/mycss.css" />
</head>
<body ng-controller="myCtrl" id='top'>
    <div class="mynav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3><span class="glyphicon glyphicon-bookmark"></span></h3>
                </div>
                <form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-default">添加书签</button>
                    <button type="submit" class="btn btn-default">导入书签</button>
                </form>
            </div>
        </nav>
    </div> <!-- head结束 -->

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row" style="margin-bottom:30px;">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜一下</button>
                      </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
            </div><!-- search框结束 -->
            
            <!-- <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="list-inline">
                        <div ng-repeat="lab in labs" class="tags">
                            <li class="label label-{{ colorr[$index%6] }}"><a class="cancle-a-style" href="#{{ lab }}" style="color: #fff;">{{ lab }}</a></li>
                        </div>
                    </ul>
                </div>
            </div> --><!-- 标签结束 -->
        </div><!-- search结束 -->
        <div class="container-fluid">
            <div class="col-md-2 col-xs-6">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ng-repeat="lab in labs">
                        <a href="#top" ng-bind="lab" ng-click="getTagUrls(lab)"></a>
                    </li>
                </ul>
            </div> <!-- tag标签页 -->
            <div class="col-md-10 col-xs-6">
                <div ng-repeat="(tag_key, marks_value) in marks">
                    <div ng-repeat="item in marks_value" class="row" id="{{ tag_key }}">
                        <div class="col-md-10 markitem">
                            <span class="btn btn-default">
                                <a href="{{ item.url }}" ng-bind="item.name" target="_blank"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div> <!-- bookmarklist -->
        </div>
        <!-- <div ng-repeat="(tag_key, marks_value) in marks">
            <div class="container-fluid  col-md-offset-1" style="margin-top:30px;">
                <div class="row">
                    <div class="col-md-1" id="{{ tag_key }}">
                        <h3><span><p ng-bind="tag_key" class="label label-default label-lg"></p></span></h3>
                    </div>
                </div>
                <div ng-repeat="item in marks_value" class="row">
                    <div class="col-md-10 markitem">
                        <span class="btn btn-default">
                            <a href="{{ item.url }}" ng-bind="item.name" target="_blank"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div> --><!-- marklist结束 -->

    </div><!-- content结束 -->

    <div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="col-md-4 col-md-offset-4 copyright">
                    <p><span class="glyphicon glyphicon-copyright-mark"></span> COPYRIGHT GRASS</p>
                </div>
                <div class="navbar-form navbar-right">
                    <a href="#top"><button class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button></a>
                </div>
            </div>
        </nav>
    </div><!-- bottom结束 -->
    
    <script src="js/angular-1.3.0.js"></script>
    <script src="indexCon.js"></script>
</body>
</html>
