/* 
* @Author: caoshuai
* @Date:   2017-09-29 11:51:56
* @Last Modified by:   caoshuai
* @Last Modified time: 2017-09-29 16:05:32
*/

a:link {
    color: #808080;
}

a:hover {
    font-size: 16px;
    text-decoration: none;
    color: #FF3333;
}

.markitem {
    white-space: nowrap;
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.copyright {
    padding-top: 15px;
}

.copyright-text {
    float: left;
    line-height: 65
}